.animation-letter {
    animation: appearance 0.5s cubic-bezier(0.1,0.25,0,1) 0s 2 alternate both;
    
}

@keyframes appearance{
    0%  {
        bottom: 0;
        
        -webkit-transform: scale(0.3);
        -ms-transform: scale(1);
        transform: scale(1);

    }
    
    20% {
        box-shadow: 0 0 5px rgba(0,0,0,0.5);
        -webkit-transform: scale(0.5);
        -ms-transform: scale(0.5);
        transform: scale(0.5);
        opacity: 0.2;
    }
     
    100% {
        box-shadow: 0 0 5px rgba(0,0,0,0.5);
        bottom: 50px; 
        box-shadow: 0 50px 50px rgba(0,0,0,0.1); 
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
    
    