@font-face {
    font-family: YandexSansBold;
    src: url("../fonts/YandexSansDisplay-Bold.ttf");
}

@font-face {
    font-family: YandexSansThin;
    src: url("../fonts/YandexSansDisplay-Thin.ttf");
}

@font-face {
    font-family: YandexSansLight;
    src: url("../fonts/YandexSansDisplay-Light.ttf");
}

@font-face {
    font-family: YandexSansRegular;
    src: url("../fonts/YandexSansDisplay-Regular.ttf");
}

@font-face {
    font-family: HelveticaNeue;
    src: url("../fonts/HelveticaNeueCyr-Medium.otf");
}

@font-face {
    font-family: HelveticaNeueLight;
    src: url("../fonts/HelveticaNeueCyr-Light.otf");
}

header {
    margin: 5px;
    padding-bottom: 12px;
}

#ya-services {
    display: inline-block;
    width: 16px;
    height: 16px;
    padding-bottom: 2px;
    margin-right: 6px;
}

.ya-services__logo-item {
    width: 20px;
    height: 2px;
    margin: 5px;
    background: #000000;
}

.logo {
    display: inline-block;
}

#ya-search__input {
    display: inline-block;
    margin-left: 10%;
    padding-left: 16px;
    cursor: pointer;
    opacity: 0.5;
    background-color: #ffffff;
    font-family: YandexSansRegular, serif;
    font-size: 15px;
    line-height: 2.13;
    color: #000000;
    width: 80%;
    border: 1px solid #ccc;
    outline: 0;
    padding-right: 24px;
}

ul {
    list-style-type: none;
}

body {
    background-color: #e5eaf0;
    height: 100%;
}

html {
    height: 100%;
}

#nav-bar {
    margin-top: 0;
    padding: 0;
}

.ya-link {
    color: unset;
    text-decoration: none;
}

#nav-bar li {
    height: 22px;
    margin-left: 0;
    padding-left: 10px;
    text-align: left;
    line-height: 22px;
}

#nav-bar li:hover {
    background-color: #cdd6e4;
}

.ya-big-button {
    height: 32px;
    border-radius: 3px;
    background-color: #6287bd;
    font-family: HelveticaNeue;
    font-size: 12px;
    font-weight: 500;
    color: #fff;
    width: 100%;
    text-align: center;
    cursor: pointer;
    margin-bottom: 8px;
    border: solid 1px #e5eaf0;
}

#actions-bar {
    display: inline-block;
    width: 147px;
    margin-right: 22px;
    vertical-align: top;
    font-family: HelveticaNeue;
    font-size: 11px;
    font-weight: 500;
    color: #707070;
}

#mails {
    display: inline-block;
    position: relative;
    width: 80%;
    height: 90%;
    border-radius: 3px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.34);
    background-color: #fff;
    margin-bottom: 30px;
}

.mail__action {
    vertical-align: middle;
    display: inline-block;
    margin-right: 26px;
}

#mails__actions {
    padding: 10px 10px 10px 15px;
    font-family: HelveticaNeue;
    font-size: 13px;
    color: #cccccc;
    border-bottom: 1px solid #e2e2e2;;
}

#letters {
    height: calc(100% - 84px);
    overflow: auto;
    position: relative;
}

.credential {
    display: inline-block;
    padding: 10px 10px 10px 20px;
}

.letters_mail {
    white-space: nowrap;
    z-index: 2;
    padding: 2px 10px 2px 15px;
    vertical-align: middle;
    position: relative;
    line-height: normal;
    font-family: HelveticaNeueLight;
    font-size: 0;
    color: #000000;
    background-color: white;
    border-bottom: 1px solid #e2e2e2;
}

.letters_mail_new {
    opacity: 0;
    height: 0;
}

.letters_mail_show {
    transition: all 250ms;
    transition-timing-function: ease;
    opacity: 1;
    height: 40px;
}

.letters_mail_will_be_removed {
    opacity: 0;
    transition: opacity 400ms;
    transition-timing-function: ease;
}

.single-line {
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
}

.unread span:not(.letters__mail_receive-time) {
    font-family: HelveticaNeue;
    font-weight: bold;
}

.unread label:not(.letter_message_close) {
    font-family: HelveticaNeue;
    font-weight: bold;
}

.unread .letters__mail_read-mark {
    visibility: visible;
}

.ya-checkbox {
    display: inline-block;
    vertical-align: middle;
    filter: brightness(1.2);
    width: 16px;
    height: 16px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
}

#select-all {
    margin-right: 20px;
}

.letters__mail_user-avatar {
    margin: 5px;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    padding-right: 5px;
    padding-left: 5px;
}

.letters__mail_sender {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 185px;
    max-height: 16px;
    font-size: 13px;
    vertical-align: middle;
}

.letters__mail_message-title {
    font-size: 13px;
    display: inline-block;
    max-width: 80%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
}


.main-container {
    height: 100%;
}

.letters__mail_receive-time {
    font-size: 13px;
    display: inline-block;
    vertical-align: middle;
    float: right;
    color: #9b9b9b;
    line-height: 40px;
    font-weight: normal;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    height: 40px;
    border-top: 1px solid #e2e2e2;;
    font-family: HelveticaNeueLight;
    font-size: 11px;
    color: #9b9b9b;
    line-height: 15px;
    text-align: right;
    vertical-align: bottom;
}

.credential__item {
    margin-left: 20px;
}

#close:hover {
    background-color: #cdd6e4;
}

.letters__mail_read-mark {
    vertical-align: middle;
    visibility: hidden;
    display: inline-block;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: #6287bd;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
}

.letters__mail_read-mark:checked {
    background-color: #e5eaf0;
}

.main-layout {
    min-width: 990px !important;
    padding-left: 20px;
    padding-right: 14px;
    height: 100%;
}

.mail-logo {
    vertical-align: bottom;
    display: inline-block;
    width: 153px;
    height: 31px;
    content: url(../img/mail-logo.png);
}

.ya-search {
    margin-left: 10%;
    display: inline-block;
    position: relative;
    width: 500px;
    height: 32px;
}

.ya-search__clear-button {
    position: absolute;
    right: 9px;
    top: 4px;
    width: 12px;
    height: 12px;
    padding: 0 8px;
    font-style: normal;
    font-size: 1.5em;
    user-select: none;
    cursor: pointer;
    opacity: 0.15;
}

.ya-search input::-ms-clear {
    display: none;
}

.letter_open {
    display: none;
}

.letter_open:checked ~ .letter_message {
    display: block;
}

.letter_open:checked ~ .letter_head {
    display: none;
}

.letter_message {
    font-family: HelveticaNeueLight;
    vertical-align: middle;
    background-color: white;
    display: none;
    font-size: 16px;
}

.letter_message_close {
    float: right;
    width: 15px;
    height: 15px;
    font-weight: 100;
    text-align: center;
    vertical-align: middle;
}

.letter_message_text {
    word-wrap: break-word;
    white-space: pre-wrap;
    vertical-align: middle;
}
