@import url(font.css);

html {
    margin: 0 10px;
    background: #e5eaf0;
    white-space: nowrap;
}

header {
    height: 32px;
    letter-spacing: -1em;
    position: relative;
}

header > div {
    display: inline-block;
    vertical-align: middle;
}

main {
    margin-top: 13px;
    position: absolute;
    top: 42px;
    left: 18px;
    right: 10px;
    bottom: 4px;
}

main > * {
    display: inline-block;
    vertical-align: top;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

.cursor {
    cursor: pointer;
}
