<div class="letters_mail unread letters_mail_new">
    <input id="letter_open_" class="letter_open" type="checkbox">
    <div class="letter_head">
        <input class="ya-checkbox" type="checkbox">
        <img class="letters__mail_user-avatar">
        <span class="letters__mail_sender">Длиннной динович длинновинский</span>
        <input type="checkbox" class="letters__mail_read-mark">
        <label class="letters__mail_message-title" for="letter_open_">Съешь ещё этих мягких французскихбулок, да выпей чаю</label>
        <span class="letters__mail_receive-time">26 мар</span>
    </div>
    <div class="letter_message">
        <label for="letter_open_" class="letter_message_close">X</label>
        <div class="letter_message_text">Подажи ебана
        </div>
    </div>
</div>
