@font-face {
    font-family: 'YSText';
    src: url("./fonts/YandexSansDisplay.ttf");
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url("./fonts/HelveticaNeueCyr.otf");
}

body {
    font-family: Arial, Helvetica, sans-serif;
    min-width: 630px;
    background-color: #e5eaf0;
    margin: 0;
}

.header {
    margin-top: 11px;
}

.header__line {
    width: 20px;
    height: 2px;
    background-color: #000;
}

.header__line-mrgn {
    margin-top: 5px;
}

.header__pic-yandex {
    box-sizing: border-box;
    margin-top: 1px;
    vertical-align: top;
    margin-left: 11px;
}

.header__menu {
    box-sizing: border-box;
    margin-top: 8px;
    display: inline-block;
    margin-left: 22px;
    vertical-align: top;
}

.header__search {
    vertical-align: top;
    display: inline-block;
    left: 320px;
    box-sizing: border-box;
    padding-left: 16px;
    margin-left: 114px;
    width: 301px;
    height: 32px;
    opacity: 0.5;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    line-height: 2.13;
    font-family: YSText;
    font-size: 15px;
}

.header__close {
    font-size: 20px;
    position: absolute;
    top: 15px;
    left: 600px;
    color: #000;
}

.actions {
    vertical-align: top;
    margin-top: 13px;
    display: inline-block;
    box-sizing: border-box;
}

.actions>ul {
    display: inline-block;
    padding-inline-start: 22px;
}

#actions__button-write {
    vertical-align: top;
    box-sizing: border-box;
    height: 32px;
    width: 147px;
    border-radius: 3px;
    border-width: 0;
    background-color: #6287bd;
    font-size: 12px;
    color: white;
    font-family: HelveticaNeue;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
}

.actions__msgs-income {
    margin-top: 8px;
}

.actions__acts {
    font-weight: 500;
    font-size: 11px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #707070;
    font-family: HelveticaNeue;
    
}

.actions__not-writing {
    overflow: hidden;
    text-overflow: ellipsis;
    box-sizing: border-box;
    width: 147px;
    min-height: 22px;
    padding-top: 4px;
    padding-left: 10px;
    color: #707070;
    border: 0;
}

.actions__not-writing:hover {
    background-color: #cdd6e4;
}

.letters__letter {
    font-size: 13px;
    position: relative;
    width: 100%;
    border-bottom: solid 1px #e2e2e2;
}

.block-inner {
    width: calc(100% - 221px);
    min-width: 550px;
    min-height: 250px;
    overflow: auto;
    height: calc(100% - 70px);
    position: absolute;
    display: inline;
    white-space: nowrap;
    box-sizing: border-box;
    margin: 13px 20px 14px 22px;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.34);
}

.can-do__links {
    color: #ccc;
    cursor: pointer;
}

.block-inner__letters {
    font-size: 13px;
    position: absolute;
    border-bottom: solid 1px #e2e2e2;
    overflow: auto;
    width: 100%;
    height: calc(100% - 68px);
    display: inline;
    white-space: nowrap;
    box-sizing: border-box;
    overflow-x: hidden;
}

.block-inner__can-do {
    font-size: 13px;
    position: relative;
    border-bottom: solid 1px #e2e2e2;
    outline: none;
    width: 100%;
    box-sizing: border-box;
    margin-top: 8px;
    margin-bottom: 0;
    padding-bottom: 7px;
    padding-inline-start: 17px;
}

#can-do__highlight {
    width: 16px;
    height: 16px;
    border-radius: 3px;
    border: solid 1px rgba(0, 0, 0, 0.15);
}

.letter__checkbox {
    vertical-align: top;
    margin-top: 11px;
    box-sizing: border-box;
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-left: 20px;
    border-radius: 3px;
    border: solid 1px rgba(0, 0, 0, 0.15);
}

.letter__pic {
    font-family: YSText;
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 20px;
    vertical-align: top;
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 4px;
    margin-left: 7px;
    height: 30px;
    width: 30px;
    background-color: red;
    border-radius: 15px;

}

.letter__date-msg {
    vertical-align: top;
    font-family: HelveticaNeue;
    position: absolute;
    font-size: 13px;
    margin-top: 13px;
    margin-left: 10px;
    right: 20px;
    color: #9b9b9b;
}

.letter__sender {
    box-sizing: border-box;
    vertical-align: top;
    font-family: HelveticaNeue;
    width: 28%;
    max-width: 28%;
    display: inline-block;
    margin-top: 11px;
    margin-left: 10px;
    font-size: 13px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.letter__unread {
    font-weight: bold;
}

.letter__message {
    box-sizing: border-box;
    vertical-align: top;
    font-family: HelveticaNeue;
    display: inline-block;
    margin-left: 10px;
    margin-top: 12px;
    max-width: 38%;
    width: 38%;
    font-size: 13px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.can-do__resend {
    font-family: HelveticaNeue;
    display: inline-block;
    vertical-align: top;
    margin-top: 3px;
    margin-left: 20px;
}

.can-do__delete {
    font-family: HelveticaNeue;
    display: inline-block;
    margin-left: 26px;
    vertical-align: top;
    margin-top: 3px;
}

.can-do__make-spam {
    font-family: HelveticaNeue;
    display: inline-block;
    margin-left: 24px;
    vertical-align: top;
    margin-top: 3px;
}

.can-do__read-msgs {
    font-family: HelveticaNeue;
    display: inline-block;
    margin-left: 25px;
    vertical-align: top;
    margin-top: 3px;
}

.block-inner__footer {
    box-sizing: border-box;
    text-align: right;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: solid 1px #e2e2e2;
    width: 100%;
    height: 31px;
    padding: 9px 20px 0 0;
}

.footer__links {
    vertical-align: top;
    margin-left: 25px;
    font-family: HelveticaNeue;
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #9b9b9b;
}

.mail-opened__snowman {
    float: right;
    shape-outside: circle();
}   

#letter__choose {
    display: none;
}

#letter__choose:checked+.letter__mail-opened {
    display: inline-block;
    margin-left: -42px;
}

.mail-opened__close2 {
    position: absolute;
    margin: 5px;
    font-size: 25px;
    top: 7px;
    right: 7px;
}

.letter__mail-opened {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    width: 100%;
    background-color: white;
    z-index: 1;
    font-size: 14px;
    padding: 20px 20px 20px 30px;
    display: none;
}

.mail-opened__text {
    font-family: HelveticaNeue;
    font-size: 15px;
    padding: 20px;
    white-space: normal;
}

.letter__msg-mark {
    vertical-align: top;
    display: inline-block;
    margin-top: 14px;
    width: 10px;
    height: 10px;
    border-radius: 10px;
}

.letter__mark-unread {
    background-color: #6287bd;
}

.msg-added {
    animation: add-msg 1s ease;
}

.msg-deleted-right {
    animation: del-msg-right 2s ease forwards;
}

.msg-deleted-left {
    animation: del-msg-left 2s ease forwards;
}

.hidden {
    display: none;
}

@keyframes add-msg {
    from {
        opacity: 0;
        height: 0;
    }
    50% {
        opacity: 0.5;
    }
    to {
        opacity: 0.9;
        height: 39px;
    }
}

@keyframes del-msg-right {
    from {
        opacity: 1;
    }
    75% {
        transform: translateX(100%);
    }
    to {
        opacity: 0;
        height: 0;
        transform: translateX(100%);
        border: 0;
    }
}

@keyframes del-msg-left {
    from {
        opacity: 1;
    }
    75% {
        transform: translateX(-100%);
    }
    to {
        opacity: 0;
        height: 0;
        transform: translateX(-100%);
        border: 0;
    }
}