html {
    height: 100%;
}

body {
    background-color : #e5eaf0;
    height: 100%;
}

.header {
    position: relative;
    height: 5.2%;
    width: 100%;
    top: 2%;
    left: 2%;
}

.main {
    float: right;
    height: 100%;
    width: 80%;
    background: white;
    box-shadow: 0 2px 6px black;
    border-radius: 0.5%;
}

.img {
    position: relative;
    height: auto;
    top: 20%;
    float: left;
}

.article {
    display: none;
    position: absolute;
}

.logo {
    display: inline-block;
    position: relative;
    width: auto;
    top: 0%;
    float: left;
    height: 100%;
}

.search {
    position: relative;
    width: 70%;
    top: 5%;
    float: left;
    height: 100%;
}

.logo__yandex {
    font-family: YandexSans, sans-serif;
    font-weight: bold;
    position: relative;
    float: left;
    font-size: 30px;
    word-wrap: break-word;
    line-height: 100%;
    transform: scaleY(2);
}

.logo__mail {
    font-family: YandexSans, sans-serif;
    position: relative;
    font-weight: normal;
    float: left;
    font-size: 30px;
    word-wrap: break-word;
    line-height: 100%;
    transform: scaleY(2);
}

.search__search-form {
    position: relative;
    margin-left: 25%;
    width: 50%;
    height: 100%;
    opacity: 0.5033;
}

@font-face {
    font-family: YandexSans;
    font-style: normal;
    font-weight: normal;
    src: url("Yandex Sans Light.ttf");
}

@font-face {
    font-family: YandexSans;
    font-style: normal;
    font-weight: bold;
    src: url("Yandex Sans Bold.ttf");
}

.menu {
    float: left;
    position: relative;
    top: 0;
    height: 100%;
    width: 18.4%
}

.content {
    position: relative;
    float: left;
    left: 2%;
    top: 8%;
    width: 100%;
    height: 100%;
}

.menu__button_write {
    padding-top: 4%;
    position: relative;
    height: 5.1%;
    background: #6287bd;
    top: 0;
    border-radius: 5px;
    font-family: HelveticaNeue-Medium, sans-serif;
    color: white;
    text-align: center;
    font-size: 100%;
    vertical-align: center;

}

.button__added {
    padding-top: 40%;
}

.options {
    margin-top: 6%;
    height: 25%;
}

.option {
    font-family: HelveticaNeue-Medium, sans-serif;
    font-size: 90%;
    height: 18%;
    color: #707070;
    border-radius: 5px;
    padding-left: 5%;
    vertical-align: center;
    padding-top: 3%;
}

.actions {
    height: 8%;
    border-bottom: 1px solid #e2e2e2;
    padding-left: 1%;
}

.checkbox {
    float: left;
    height: calc(85% - 0px);
    vertical-align: middle;
}

.action {
    float: left;
    color: #cccccc;
    font-family: HelveticaNeue-Medium, sans-serif;
    font-size: 100%;
    height: 100%;
    line-height: 100%;
    display: table;
    text-align: center;
    padding: 0 2%;
}

.text {
    display: table-cell;
    vertical-align: middle;
}

.text_overflow {
    display: table-cell;
    vertical-align: middle;
    max-width: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.action:hover {
    background: #e5eaf0;
}

.letter {
    height: 30px;
    border-bottom: 1px solid #e2e2e2;
    font-size: 100%;
    padding: 0 1%;
    transition: height 0.6s, background-color 0.6s;
    overflow-y: hidden;
}

.letter__contact {
    float: left;
}

.from {
    width: calc(20% - 0px);
    white-space: nowrap;
    overflow: hidden;
    float: left;
    font-family: HelveticaNeue-Bold, sans-serif;
    text-overflow: ellipsis;
    height: calc(100% - 0px);
    display: table;
    padding: 0 2%;
}

.checked {
    float: left;
}

.theme {
    white-space: nowrap;
    width: calc(35% - 0px);
    overflow: hidden;
    float: left;
    text-overflow: ellipsis;
    height: calc(100% - 0px);
    display: table;
    padding: 0 2%;
}

.data {
    width: 15%;
    float: right;
    height: calc(100% - 0px);
    display: table;
    padding: 0 2%;
    text-align: right;
}

.footer {
    height: 5%;
    position: relative;
    bottom: 0;
    border-top: 1px solid #e2e2e2;
    left: 0;
    padding-right: 2%;
}

.link {
    float: right;
    font-family: HelveticaNeue sans-serif;
    color: #9b9b9b;
    padding: 0 2%;
    cursor: pointer;
}

.letters {
    height: 87%;
}

.cancel {
    position: relative;
    float: right;
    top: 0;
    right: 0;
}

.cancel_focused:focus .article {
    display: none;
}

.cancel_focused:focus ~.letter {
    display: block;
}

@font-face {
    font-family: HelveticaNeue;
    font-style: normal;
    font-weight: normal;
    src: url("HelveticaNeueCyr-Medium.otf");
}

@font-face {
    font-family: HelveticaNeue;
    font-style: normal;
    font-weight: normal;
    src: url("HelveticaNeueCyr-Bold.otf");
}

.letter_focused:focus ~.letter {
    display: none;
}

.letter_focused:focus ~.article {
    display: block;
    position: relative;
    top: -11%;
    left: 0;
    background: white;
}

.shaped {
    float: left;
    height: 80px;
    width: 80px;
    float: right;
    background: black center top no-repeat;
    background-size: cover;
    shape-outside: circle(40px);
    clip-path: circle(40px);
}

.option:hover {
    background: #cccccc;
}

.option:active {
    background: #cdd6e4;
}

.button_write:active {
    background: #6287ff;
}

@keyframes deletion {
    to {
        height: 0px;
        border: none;
    }
}

.letter[data-state="deleted"] {
    animation: deletion 0.6s 1 ease forwards;
}

.letter[data-state="hidden"] {
    height: 0px;
    border-width: 0px;
}

.letter[data-state="showed"] {
    height: 30px;
    background-color: white;
}

