@font-face {
	font-family: Yandex Sans Text Thin;
	src: url(YandexSansText-Thin/YandexSansText-Thin.woff2) format('woff2');
	src: url(YandexSansText-Thin/YandexSansText-Thin.ttf) format('truetype');
}
@font-face {
	font-family: Yandex Sans Text Bold;
	src: url(./YandexSansText-Bold/YandexSansText-Bold.woff2) format('woff2');
	src: url(YandexSansText-Bold/YandexSansText-Bold.ttf) format('truetype');
}
@font-face {
	font-family: 'Yandex Sans Text Regular';
	src: url('YandexSansText-Regular/YandexSansText-Regular.woff') format('woff'),
		 url('YandexSansText-Regular/YandexSansText-Regular.ttf') format('truetype');
}

.window__header {
	/*margin-left: 20px; */
	margin-top: 11px; 
}
.bold {
	font-family: Yandex Sans Text Bold;
}
.thin {
	font-family: Yandex Sans Text Thin;
}

@keyframes new-animation {
	30% {
		opacity: 0;
		height: auto;
		position: static;
    }
    to {
    	position: static;
    	height: auto;
        opacity: 1;
    }
}

@keyframes del-animation {
    90% {
        transform:  translateX(100%);
    }
    to {
        height: 0;
        width: 0;
        opacity: 0;
        visibility: hidden;
        position: absolute;
    }
}

.deleted {
    animation: del-animation linear 1s;
    animation-fill-mode:forwards;
    animation-duration: 0.5s;
    opacity: 1;
    animation-iteration-count: 1;
}

.show-letter {
	animation: new-animation linear 1s;
    animation-fill-mode:forwards;
    animation-duration: 0.5s;
    opacity: 1;
    animation-iteration-count: 1;
}

.yandex {
	width: 153px;
  	height: 31px;
}
.body__yandex {
	position: absolute;
  	margin-top: 12px;
	margin-left: 53px;
}
.window {
	position: absolute;
	min-width: 589px;
	width: 73.625vw;
  	min-height: 530px;
	margin-top: 56px;
	margin-left: 191px;
	box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.34);
	background-color: #fff;
}
.letters__emptypart {
	width: 100%;
	height: 30.5px;
}
.window__allright {
	border-top: 1px solid #e2e2e2;
	width: 100%;
	position: absolute;
	margin-top: 10px;
	bottom: 0;
}

.allright__foot {
	margin-top: 8px;
	float: right;
	margin-right: 20px; 
	white-space: nowrap;
	width: 345px;
	height: 12px;
	font-family: HelveticaNeue, Helvetica, sans-serif;
	font-size: 11px;
	color: #9b9b9b;
}
.body__newbox-refl {
	display: inline-block;
	position: relative;
	margin-left: 46px;
	margin-top: 7px;
	width: 56px; 
	height: 15px;
	font-family: HelveticaNeue, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: 500;
	color: #fff; 
}
.body__newbox {
	width: 147px;
  	height: 32px;
  	border-radius: 3px;
  	background-color: #6287bd;
	position: absolute;
  	margin-top: 56px;
	margin-left: 22px;
}
.menu {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	position: absolute;
	margin-top: 96px;
	width: 100%;
	margin-left: 22px;
}

.menu__item {
	width: 137px;
  	height: 22px;
  	padding-left: 10px;
  	padding-top: 4px;
  	list-style-type: none;
	text-overflow: ellipsis;
  	font-family: HelveticaNeue, Helvetica, sans-serif;
  	font-size: 11px;
  	font-weight: 500;
  	color: #707070;
}
.menu__item:hover {
	background: #cdd6e4;
	border-radius: 3px;
  	font-weight: bold;
  	color: #555;
}

.firstletter__clickme {
	display: inline-block;
	width: inherit;
}

.firstletter {
	border-bottom: 1px solid #e2e2e2;
	margin: 0px;
	padding-bottom: 4px;
	width: 100%;
}

.header__item {
	background: #fff;
	color: #ccc;
	border: 0 none;
}
.unread-letter {
	font-weight: bold;
}

.window__letters {
	border-top: 1px solid #e2e2e2;
	margin-top: 10px;
	width: 100%;
	height: 100%;
}
.letter__authtor, .firstletter__authtor, .lettermove__authtor{
	display: inline-block;
	position: relative;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	width: 155px;
	margin-left: 10px;
	font-family: HelveticaNeue, Helvetica, sans-serif;
	font-size: 13px;
	color: #000;
}

.letter__textletter, .firstletter__textletter, .lettermove__textletter {
	display: inline-block;
	position: relative;
	margin-left: 50px;
	width: calc(100% - 376px);
	height: 16px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	font-family: HelveticaNeue, Helvetica, sans-serif;
	font-size: 13px;
	color: #000;
}

.letter__date, .firstletter__date, .lettermove__date {
	display: inline-block;
	position: relative;
	margin-top: 13px;
	overflow: hidden;
	white-space: nowrap;
	width: 40px;
	margin-right: 10px;
	margin-left: auto;
	float: right;
 	font-family: HelveticaNeue, Helvetica, sans-serif;
  	font-size: 13px;
  	text-align: right;
  	color: #9b9b9b;
}

.letter__logo-authtor, .firstletter__logo-authtor, .lettermove__logo-authtor 
 {
	display: inline-block;
	position: relative;
    width: 30px;
    height: 30px;
    margin-top: 10px;
    font-family: Yandex Sans Text Thin, sans-serif;
    background-color: #f33;
    border-radius: 50%;
    font-size: 22px;
    font-weight: normal;
    color: #fff;
    text-align: center;
}
body {
	position: relative;
	background-color: #e5eaf0;
}
.body__find {
	font-family: Yandex Sans Text Regular, sans-serif;
	font-size: 15px;
	padding-left: 16px;
	border: none;

	position: absolute;
	margin-top: 11px;
	margin-left: 320px;
	width: 301px;
	height: 32px;
	opacity: 0.5;
	box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2);
	background-color: #fff;
}
.letter__unread, .firstletter__unread  {
	position: absolute;
	margin-top: -25px;
	/*margin-bottom: -20px;*/

	margin-left: 261px;
	border-radius: 50%;
	width: 10px;
  	height: 10px;
  	background-color: #6287bd;
}
.x {
	position: absolute;
	margin-left: 281.5px; 
	margin-top: 5px;
 	width: 9px;
 	height: 9px;
}

#essay, .letters__text {
    position: absolute;
    z-index: 100;
    display: none;
    background: #ffffff;
    height: calc(100% - 40px); 
    width: 100%;
}

#show-letter1, .letters__show-action {
    position: absolute;
    margin-top: 11px;
    margin-left: 20px;
    display: none;
}

#essay__close, .close {
	display: none;
	position: absolute;
    font-size: 20px;
    z-index: 200;
    margin-top: 0px;
    margin-left: 90%;
    color: #cccccc;
}
.hidden {
	display: none;
}
#delButton {
	background: none;
	border: none;
	color: #ccc;
}
.letters__text {
	padding: 40px;
	box-sizing: border-box;
}
.letter_checkbox{
	width: 46px;
	height: 40px;
	display: inline-block;
	position: relative;
}
.letter__box, .firstletter__box, .lettermove__box, #set-all-box {
	margin-top: 10px;
	margin-left: 20px;
}

#show-letter1:checked ~ #essay {
    display: block;
}