@font-face {
    font-family: YandexSansThin;
    src: url("fonts/YandexSansText-Thin.ttf");
}

@font-face {
    font-family: YandexSansBold;
    src: url("fonts/YandexSansText-Bold.ttf");
}

.header__search-box {
    position: relative;
    left: 20%;
    width: 35%;
    padding-left: 10px;
    background: rgba(242, 244, 247, 1);
    box-shadow: inset 0 0 0 1px rgba(217, 219, 222, 1);
    font-size: 15px;
    line-height: 2.2;
    color: #000;
    display: inline-block;
    border-width: 0;
}

.header__ya-logo {
    position: relative;
    vertical-align: middle;
    display: inline-block;
    font-size: 30px;
    transform: scaleY(1.5);
}

.aside-block-menu {
    list-style-type: none;
    font-family: "Helvetica Neue", serif;
    font-size: 11px;
    height: 22px;
    vertical-align: middle;
    line-height: 20px;
    position: relative;
    padding: 0;
    width: 90%;
}

.aside-block-menu__item {
    border-radius: 3px;
    padding-left: 5px;
}

.aside-block-menu__item_active {
    background-color: #CDD6E4;
    font-family: YandexSansBold, sans-serif;
}

.aside-block-menu__item:hover {
    background-color: #CDD6E4;
}

.menu-link {
    display: block;
    color: #707070;
    text-decoration: none;
    padding: 3px;
}

.page__aside-block {
    float: left;
    width: 150px;
    position: relative;
    top: 15px;
    height: 100vh;
}

.page__main-block {
    position: relative;
    top: 15px;
    float: left;
    width: calc(100% - 150px);
    background-color: #FFFFFF;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.4);
    border-radius: 3px;
}

.page {
    background-color: #E5EAF0;
    font-family: "Helvetica Neue", sans-serif;
    font-size: 13px;
    margin-right: 22px;
    margin-left: 22px;
    margin-top: 10px;
    min-width: 900px;
    min-height: 100%;
}

.button-aside-menu {
    width: 90%;
    height: 35px;
    font-size: 12px;
    background-color: #6287BD;
    color: #FFFFFF;
    border-color: #6287BD;
    box-shadow: 0 2px 4px #6287BD;
    border-radius: 4px;
    cursor: pointer;
}

.button-aside-menu#button-add-message {
    margin-top: 5px;
}

.main-block__footer {
    width: 100%;
    border-top: solid 1px #e2e2e2;
}

.main-block__footer a {
    text-decoration: none;
    color: inherit;
}

.top-bar__horizontal-nav-panel-main {
    list-style-type: none;
    position: relative;
    left: 20px;
    margin: auto;
}

.top-bar__horizontal-nav-panel__item {
    float: left;
    color: #D8D8D8;
    margin-right: 25px;
}

.top-bar__horizontal-nav-panel__link {
    color: #ccc;
}

.top-bar {
    display: inline-block;
    width: 100%;
    position: relative;
    border-bottom: solid 1px #e2e2e2;
    padding-top: 10px;
    padding-bottom: 10px;
}

.top-bar__checkbox {
    float: left;
    display: inline-block;
    position: relative;
    margin-left: 2%;
    height: 16px;
    width: 16px;
}

.message_bold {
    font-weight: bold;
}

.messages-box {
    position: relative;
    min-height: 500px;
}

.message__ya-img {
    display: inline-block;
    margin-right: 10px;
    margin-left: 15px;
    vertical-align: middle;
}

.message__sender {
    display: inline-block;
    margin-right: 10px;
    width: 250px;
}

.message__theme {
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
}

.message__date {
    display: inline-block;
    position: relative;
    float: right;
    top: 5px;
    right: 20px;
    font-weight: normal;
    vertical-align: middle;
    color: #9b9b9b;
}

.message__checkbox {
    height: 16px;
    width: 16px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 2%;
}

.message__unread-circle {
    background: #6287bd;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
}

.footer__bar {
    float: right;
    position: relative;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-right: 20px;
}

.footer__item {
    display: inline-block;
    color: #9b9b9b;
    font-size: 11px;
    margin-left: 25px;
    cursor: pointer;
}

.message {
    border-bottom: solid 1px #e2e2e2;
    padding-top: 5px;
    padding-bottom: 5px;
}

#show-page-checkbox:checked + .hidden-page {
    display: block;
}

.hidden-page {
    position: absolute;
    top: 0;
    background-color: white;
    z-index: 1;
    word-spacing: 3px;
    font-size: 20px;
    font-weight: normal;
    padding: 20px;
    display: none;
    height: 90%;
}

.hidden-page__dog-image {
    shape-outside: circle();
    border-radius: 50%;
    margin-left: 1.5rem;
}

.hidden-page__cancel-btn {
    float: right;
    font-size: 30px;
    margin-top: -25px;
    font-family: YandexSansThin, serif;
    color: gray;
    cursor: pointer;
}

.hamburger__single-strip {
    height: 3px;
    margin-top: 4px;
    background-color: #000;
}

.header_hamburger {
    cursor: pointer;
    display: inline-block;
    width: 20px;
    height: 17px;
    margin-top: -5px;
    margin-right: 5px;
    vertical-align: middle;
}