@font-face {
	font-family: Yandex Sans Text Thin;
	src: url(YandexSansText-Thin/YandexSansText-Thin.woff2) format('woff2');
	src: url(YandexSansText-Thin/YandexSansText-Thin.ttf) format('truetype');
}
@font-face {
	font-family: Yandex Sans Text Bold;
	src: url(./YandexSansText-Bold/YandexSansText-Bold.woff2) format('woff2');
	src: url(YandexSansText-Bold/YandexSansText-Bold.ttf) format('truetype');
}

.window__header {
	margin-left: 20px; 
	margin-top: 11px; 
}
.bold {
	font-family: Yandex Sans Text Bold;
}
.thin {
	font-family: Yandex Sans Text Thin;
}
@keyframes del-animation {
    90% {
        transform:  translateX(100%);
        /*height: 0;*/
    }
    to {
        /*display: none;*/
        height: 0;
        opacity: 0;
        visibility: hidden;
        position: absolute;
    }
}

.deleted {
    animation: del-animation linear 1s;
    animation-fill-mode:forwards;
    animation-duration: 0.5s;
    opacity: 1;
    animation-iteration-count: 1;
}

/*#toDeleteLetter.deleted {
    visibility: hidden;
    opacity: 0;
    filter: alpha(opacity=0);
    transform: translateX(100%);
    transition: all 0.5s ease-in-out;
}
.lettermove.deleted {
    transform: translateY(-50px);
    transition-delay: 0.5s;
}*/
#toDelLine.deleted {
    visibility: hidden;
}
/*#lastline.deleted {
    visibility: hidden;
}*/
/*#newLetter, #newLine {
	display: none;
}
#newLetter.show {
	display: block;
}
#newLine.show {
	display: block;
}*/
.yandex {
	width: 153px;
  	height: 31px;
  	/*text-align: center;
	font-size: 22px;*/
}
.body__yandex {
	position: absolute;
  	margin-top: 12px;
	margin-left: 53px;
}
.window {
	position: absolute;
	/*width: 589px;*/
	min-width: 589px;
	width: 73.625vw;
  	min-height: 530px;
	margin-top: 56px;
	margin-left: 191px;
	box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.34);
	background-color: #ffffff;
}
/*#allright.static {
	position: static;
}*/
.letters__emptypart {
	width: 100%;
	height: 30.5px;
}
.window__allright {
	width: 100%;
	/*height: 30px;*/
	/*position: relative;*/
	position: absolute;
	margin-top: 10px;
	/*float: initial;*/
	bottom: 0;
}
.allright__line {
	width: inherit;
 	height: 1px;
    border: solid 1px #e2e2e2;
}
.allright__foot {
	margin-top: 8.5px;
	float: right;
	margin-right: 20px; 
	white-space: nowrap;
	width: 345px;
	height: 12px;
	font-family: HelveticaNeue;
	font-size: 11px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #9b9b9b;
}
.body__newbox-refl {
	display: inline-block;
	position: relative;
	margin-left: 46px;
	margin-top: 7px;
	width: 56px; 
	height: 15px;
	font-family: HelveticaNeue;
	font-size: 12px;
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #ffffff; 
}
.body__newbox {
	width: 147px;
  	height: 32px;
  	border-radius: 3px;
  	background-color: #6287bd;
	position: absolute;
  	margin-top: 56px;
	margin-left: 22px;
}

.menu__list-of-options {
	position: absolute;
	margin-top: 96px;
	width: 147px;
	margin-left: 22px;
}
.window__firstline {
	position: relative;
	margin-top: 10px;
	width: 100%;
	height: 2px;
	border: solid 1px #e2e2e2;
}
.letters__line {
	position: relative;
	margin-top: 4px;
	width: 100%;
	height: 2px;
	border: solid 1px #e2e2e2;
} 
.body__inbox{
	/*position: relative;*/
	position: absolute;
	margin-top: 96px;
	margin-left: 22px;
  	width: 147px;
  	height: 22px;
  	border-radius: 3px;
  	background-color: #cdd6e4;
}
label {
	display: inline-block;
	width: inherit;
}
/*.letter__box {
	display: inline-block;
	position: relative;
	margin: 10px 20px 0px 10px;
	margin-top: 10px;
	margin-left: 20px;
	margin-right: 10px;
}*/
.letter__box, .firstletter__box, .lettermove__box {
	display: inline-block;
	position: relative;
	margin-top: 10px;
	margin-left: 20px;
	margin-right: 10px;
}
.firstletter {
	width: 100%;
}
.letter {
	width: 100%;
}

.header__item {
	background: #ffffff;
	color: #cccccc;
	border: 0 none;
}
.unreaded-letter {
	font-weight: bold;
}

.window__letters {
	width: 100%;
	height: 100%;
}
.letter__authtor, .firstletter__authtor, .lettermove__authtor{
	display: inline-block;
	position: relative;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	width: 155px;
	margin-top: 12px;
	margin-left: 10px;
	font-family: HelveticaNeue;
	font-size: 13px;
	color: #000000;
}

.letter__textletter, .firstletter__textletter, .lettermove__textletter {
	display: inline-block;
	position: relative;
	margin-top: 12px;
	margin-left: 50px;
	width: calc(100% - 376px);
	height: 16px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	font-family: HelveticaNeue;
	font-size: 13px;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #000000;
}

.letter__date, .firstletter__date, .lettermove__date {
	display: inline-block;
	
	position: relative;
	/*width: inherit;*/
	/*position: absolute;*/
	margin-top: 13px;
	/*margin-left: 538px;*/
	overflow: hidden;
	white-space: nowrap;
	width: 40px;
	margin-right: 10px;
	margin-left: auto;
	float: right;
 	font-family: HelveticaNeue;
  	font-size: 13px;
  	font-weight: normal;
  	font-style: normal;
  	font-stretch: normal;
  	line-height: normal;
  	letter-spacing: normal;
  	text-align: right;
  	color: #9b9b9b;
}
li {
	margin-bottom: 8px;
	list-style-type: none;
	width: 81px;
 	height: 13px;
 	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
  	font-family: HelveticaNeue;
  	font-size: 11px;
  	font-weight: 500;
  	font-style: normal;
  	font-stretch: normal;
  	line-height: normal;
  	letter-spacing: normal;
  	color: #707070;
}

.menu__list-in{
	margin-top: 4px;
	margin-bottom: 11px;
  	width: 56px;
  	height: 13px;
  	font-family: HelveticaNeue;
  	font-size: 11px;
  	font-weight: bold;
  	font-style: normal;
  	font-stretch: normal;
  	line-height: normal;
  	letter-spacing: normal;
  	color: #555555;
}

.letter__logo-authtor, .firstletter__logo-authtor, .lettermove__logo-authtor 
 {
	display: inline-block;
	position: relative;
    width: 30px;
    height: 30px;
    margin-top: 10px;
    font-family: Yandex Sans Text Thin;
    background-color: #ff3333;
    border-radius: 50%;
    font-size: 22px;
    font-weight: normal;
    color: #ffffff;
    text-align: center;
}
body {
	position: relative;
	background-color: #e5eaf0;
}
.body__find {
	font-family: Yandex Sans Text Thin;
	position: absolute;
	margin-top: 11px;
	margin-left: 320px;
	width: 301px;
	height: 32px;
	opacity: 0.5;
	box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2);
	background-color: #ffffff;
}
.letter__unreaded, .firstletter__unreaded  {
	position: absolute;
	margin-top: -20px;
	margin-left: 261px;
	border-radius: 50%;
	width: 10px;
  	height: 10px;
  	background-color: #6287bd;
}
.x {
	position: absolute;
	margin-left: 281.5px; 
	margin-top: 5px;
 	width: 9px;
 	height: 9px;
}

#essay, .letters__text {
	/*margin-top: 10px;*/
    position: absolute;
    z-index: 100;
    display: none;
    background: #ffffff;
    height: calc(100% - 40px); 
    width: 100%;
}

#show-letter1, .letters__show-action {
    position: absolute;
    margin-top: 11px;
    margin-left: 20px;
    display: none;
}
#newButton {
	display: none;
}

#krestik, .krestik {
	position: absolute;
    font-size: 20px;
    z-index: 200;
    margin-top: 0px;
    margin-left: 90%;
    color: #cccccc;
}
.hidden {
	display: none;
}
#delButton {
	background: none;
	border: none;
	color: #cccccc;
}
.letters__text {
	padding: 40px;
	box-sizing: border-box;
}

#show-letter1:checked ~ #essay {
    display: block;
}