.yandex-mail {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 11px 20px 14px 22px;
    white-space: nowrap;
    min-width: 800px;
    min-height: 600px;
    background-color: #e5eaf0;
}