.window-letters {
  display: inline-block;
  vertical-align: top;
  margin: 13px 20px 14px 22px;
  width: calc(100% - 215px);
  min-width: 50px;
  height: 580px;
  max-height: 1530px;
  /*max-height: 612px;*/
  /*overflow: none;*/
  border-radius: 3px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.34);
  background-color: #ffffff;
  box-sizing: border-box;
}