.header {
    width: 100%;
    height: 60px;
}

.header__burger {
    display: inline-block;
    vertical-align: middle;
    margin: 20px 10px 28px 22px;
}

.header__yandex-logo {
    display: inline-block;
    vertical-align: middle;
}

.header__search-bar-wrapper {
    display: inline-block;
    vertical-align: middle;
    height: 60px;
    /* width: calc(100% - 129px - 10px - 19px - 22px); */
    width: calc(100% - 180px);
}

.header__search-bar {
    display: block;
    margin: 11px auto 15px;
}