/*LEFT PANEL*/
.main {
    white-space: nowrap;
    font-family: HelveticaNeue, sans-serif;
}

.left-panel a {
    text-decoration: none;
    color: #707070 !important;
}

.left-panel {
    float: left;
    width: 147px;
    margin-right: 22px;
    white-space: normal;
}

.compose {
    width: 147px;
    height: 32px;
    border-radius: 3px;
    background-color: #6287bd;
    text-align: center;
    color: #ffffff;
    font-size: 12px;
    font-weight: 500;
    display: block;
    border-color: transparent;
    cursor: pointer;
}

.compose:hover {
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.34);
}

.folders {
    font-size: 11px;
    margin-top: 8px;
    list-style-type: none;
}

.folders > ul {
    padding-left: 0;
}

.folders > ul > li {
    list-style-type: none;
    padding: 5px 10px;
    color: #707070;
    position: relative;
    display: block;
}

.folders > ul > li:hover {
    border-radius: 3px;
    background-color: #cdd6e4;
    font-weight: bold;
    color: #555555;
}
