.yandex-logo__yandex {
    width: 75px;
    height: 32px;
    margin: 12px 0 16px 0;
    vertical-align: middle;
}

.yandex-logo__mail {
    width: 54px;
    height: 32px;
    margin: 12px 0 16px 0;
    vertical-align: middle;
}