.header {
    padding: 11px 0;
}

.header__pancakes {
    display: inline-block;
    background-color: transparent;
    border-color: transparent;
    padding-left: 0;
    cursor: pointer;
    height: 32px;
}

.header__logo {
    display: inline-block;
    margin-right: 114px;
}

.header__yandex-logo {
    height: 32px;
    width: 75px;
}

.header__mail-logo {
    height: 32px;
    width: 54px;
    margin-left: -4px;
}

.header__logo_link {
    color: transparent;
}