.page-content__content {
  position: absolute;
  top: 0;
  left: 169px;
  right: 20px;
  bottom: 14px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.34);
  border-radius: 3px;
  background-color: #ffffff;
  overflow: auto;
}