.main-menu__text.main-menu__button {
  display: table-cell;
  width: inherit;
  height: inherit;

  color: #fff;
  font-size: 12px;
  text-align: center;
  vertical-align: middle;
}

.main-menu__text.main-menu__item {
  color: #707070;
  font-size: 11px;
}

.main-menu__text {
  font-family: 'HelveticaNeueCyr', serif;
  text-decoration: none;
}
