.checkbox__label {
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.checkbox + .checkbox__label:before {
  display: inline-block;
  content: '';
  width: 16px;
  height: 16px;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  background-color: #fff;
}

.checkbox:checked + .checkbox__label:after {
  content: '';
  padding: 2px;
  text-align: center;
  position: absolute;
  width: 1px;
  height: 5px;
  border: solid #0000ff;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
  top: 2px;
  left: 5px;
}