@import "yandex-mail-logo/yandex-mail-logo.css";
@import "search/search.css";
@import "tools-icon/tools-icon.css";
@import "main-header/main-header.css";
@import "page-content/page-content.css";
@import "mail-toolbar/mail-toolbar.css";
@import "inbox/inbox.css";
@import "checkbox/checkbox.css";

@font-face {
  font-family: 'Yandex Sans';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/YandexSansThin.woff2') format('woff2');
}

@font-face {
  font-family: 'Yandex Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/YandexSansBold.woff2') format('woff2');
}

html {
  font-family: 'Yandex Sans', serif;
  font-weight: 300;
}

body {
  margin: 0;
  background-color: #e5eaf0;
  overflow: auto;
}

main {
  position: absolute;
  width: 95%;
  height: 95%;
  padding: 5px;
  margin: 5px;
}

.first_email {
  position: relative;
  height: 40px;
  border-bottom: solid 1px #e2e2e2;
  cursor: pointer;
}

.first_email:focus + .first_message {
  opacity: 1;
}

.first_message {
  position: absolute;
  display: none;
  top: 37px;
  left: 0;
  right: 0;
  bottom: 50px;
  padding: 30px;
  background-color: #fff;
  z-index: 1;
  overflow: auto;
}

.close_message {
  position: absolute;
  right: 30px;
  top: 32px;
  font-size: 25px;
  height: 35px;
  width: 35px;
  cursor: pointer;
}

.close_message_checkbox {
  display: none;
}

.close_message_checkbox:checked + .first_message {
  display: block;
}

.beautiful_cat {
  height: 200px;
  shape-outside: url('../img/cat.png');
  shape-image-threshold: 0.7;
}
