.message__unread-dot {
  width: 10px;
  height: 10px;
  margin-top: 14px;
  margin-left: 20px;
  background-color: #6287bd;
  border-radius: 10px;

  cursor: pointer;

  float: left;
  visibility: hidden;
}

.message__unread-dot.message_unread {
  visibility: visible;
}
