.message__unread-dot {
    width: 10px;
    height: 10px;
    border-radius: 10px;

    float: left;
    margin-left: 20px;
    margin-top: 14px;
    background-color: #6287bd;

    cursor: pointer;
    visibility: hidden;
}

.message__unread-dot.message_unread {
    visibility: visible;
}