.window-letters__letter-sender_pict_wrap {
  margin-left: 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 25px;
  font-family: HelveticaNeueCyr-Medium;
  /*background-color: green;*/
  color: white;
}