.message__topic {
  overflow: hidden;

  min-width: 215px;
  max-width: 35%;
  padding-top: 12px;
  margin-right: -100px;
  margin-left: 10px;
  float: left;

  text-overflow: ellipsis;
  white-space: nowrap;
}
