.main-button {
	display: block;
	padding: 0;
	 
	cursor: pointer;

	width: inherit;
	height: 32px;
	
	border: none;
	border-radius: 3px;
	background-color: #6287bd;

	font: 500 12px/32px "Helvetica Neue";
	color: #fff;
}