@keyframes swing {
    15% {
        transform: translateX(3px);
    }
    30% {
        transform: translateX(-3px);
    }
    50% {
        transform: translateX(2px);
    }
    65% {
        transform: translateX(-2px);
    }
    80% {
        transform: translateX(1px);
    }
    95% {
        transform: translateX(-1px);
    }
    100% {
        transform: translateX(0);
    }
}

.start-transition-opacity {
    transition: opacity 1s linear;
    opacity: 0;
}

.start-animation-swing {
    animation: swing 1s ease normal forwards;
    animation-iteration-count: 1;
}