#letters {
    display: inline-block;
    width: calc(100% - 290px);
    height: 100%;
    background: rgb(255, 255, 255);
    border-radius: 3px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 20);
}

.header-letters {
    height: 8.33%;
    margin-left: 20px;
    letter-spacing : -4px;
}

.header-letters:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.headerLetters__button {
    padding: 0;
    display: inline-block;
    vertical-align: middle;
    color: rgb(204, 204, 204);
    font-family: "Yandex Sans Light", serif;
    font-size: 14px;
    background-color: rgb(255, 255, 255);
    border-style: none;
    outline: none;
    margin-left: 20px;
    cursor: pointer;
}

.line {
    width: 100%;
    height: 1px;
    background: rgb(226, 226, 226);
}

.body-letters {
    height: 83.34%;
    width: 100%;
    overflow-y: auto;
}

.footerLetters {
    text-align: right;
    height: 8.33%;
    width: 100%;
}

.footerLetters:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.footerLetters__a {
    display: inline-block;
    vertical-align: middle;
    color: rgb(204, 204, 204);
    font-family: "Yandex Sans Light", serif;
    font-size: 11px;
    margin-right: 40px;
    text-decoration: none;
    cursor: pointer;
}



