.mail-body__letters-window {
    display: inline-block;
    width: calc(85% - 60px);
    height: 100%;
    min-width: 590px;
    background: #ffffff;
    border-radius: 3px;
    box-shadow: 0 0 2px #000000;
    margin-left: 20px;
}

.mail-body__letters-window__header {
    height: 6.25%;
    margin: 0 20px;
}

.mail-body__letters-window__header:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.mail-body__letters-window__header__button {
    padding: 0;
    display: inline-block;
    vertical-align: middle;
    color: rgb(204, 204, 204);
    font: 13px "Helvetica Neue", sans-serif;
    background-color: #ffffff;
    border-style: none;
    outline: none;
    margin-left: 20px;
    letter-spacing: normal;
    cursor: pointer;
}

.line {
    width: 100%;
    height: 1px;
    background: #e2e2e2;
    transition: opacity 1s linear;
}

.mail-body__letters-window__body {
    height: 87.5%;
    width: 100%;
    overflow-y: auto;
}

.mail-body__letters-window__footer {
    text-align: right;
    height: 6.25%;
    width: 100%;
}

.mail-body__letters-window__footer:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.mail-body__letters-window__footer__a {
    display: inline-block;
    vertical-align: middle;
    color: #cccccc;
    font: 11px "Helvetica Neue", sans-serif;
    letter-spacing: normal;
    margin-right: 40px;
    text-decoration: none;
    cursor: pointer;
}



